{{$args := parseArgs 1 "must provide a mention or userID"
    (carg "userid" "user to let in") }}

{{ $userid := ($args.Get 0) }}
{{ $muteRole := YOUR_MUTE_ROLE_ID }}

{{ takeRoleID $userid $muteRole }}

{{/* You could put a join message here; the default verifier will prevent join messages from occurring for ticketed users. */}}
