{{/*
  Trigger Type: Join Message (Server)
  Save this code in 'Notifications & Feeds > General > Join message in server channel
*/}}

{{ $minAgeDays := 1 }}
{{ $muteRole := 999 }}
{{ /* $noViewRole := 1000 */ }}

{{ $user := .User }}
{{ $createdAt := div $user.ID 4194304 | add 1420070400000 | mult 1000000 | toDuration | (newDate 1970 1 1 0 0 0).Add }}
{{ $age := (currentTime.Sub $createdAt) }}

{{ if lt $age.Hours (mult 24.0 $accAgeDays) }}
    {{ addRoleID $muteRole }}
    {{ /* addRoleID $noViewRole */ }}
    {{ $ticket := createTicket nil (printf "%s new" $user.Username) }}
    {{ sendMessageNoEscape $ticket.ChannelID (printf "Hello %s. We're checking newly created Discord accounts for community safety. If possible, please link a social media account to your Discord account, provide a link to a social media account you have, or name a friend who can vouch for you. Alternatively, please explain how you found the server, and/or how you found out about Toki Pona. A moderator will be here shortly to help. Thank you!" $user.Mention) }}
{{ end }}
