{{/*
  Trigger Type: Command
  Save this in Core > Custom commands
  Execute with `-massban [ids...]` where `ids` is space delimited user IDs. 

  By @gregdan3
*/}}

{{$sendto := YOUR_LOG_CHANNEL_ID}}
{{$ratelimitdelay := 12}}

{{$ban := .CmdArgs}}
{{if .ExecData}}
  {{$ban = .ExecData.ban}}
{{end}}

{{range seq 0 (toInt (min (len $ban) 5))}}
  {{try}}
    {{- execAdmin "ban" (index $ban 0) "Mass ban" -}}
  {{catch}}
    There was an error: {{.Error}}
  {{end}}
  {{if eq (len $ban) 1}}
    {{- $ban = (cslice) -}}
  {{else}}
    {{- $ban = (slice $ban 1) -}}
  {{end}}
{{end}}

{{if gt (len $ban) 0}}
  {{- execCC .CCID $sendto $ratelimitdelay (sdict "ban" $ban) -}}
{{else}}
  {{- sendMessage $sendto "Finished banning" -}}
{{end}}
